header {
  margin-inline: var(--inlineMargin);
  margin-top: 4rem;
}
.title {
  line-height: 1.3;
}
.title-button {
  display: inline-block;
  margin-top: 2rem;
  background-color: var(--primaryColor);
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  border-radius: 20px;
  font-size: 1.2rem;
}
.header-main-image {
  width: 100%;
  display: block;
  margin-top: 2rem;
  margin-inline: auto;
}
.dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.dropdown-header {
  display: flex;
}
.header-dropdowns {
  margin-top: 2rem;
}
.dropdown-title {
  font-size: 1.5rem;
}
.dropdown-button {
  width: 70px;
}
.dropdown-open .dropdown-button {
  transform: rotate(180deg);
}
.dropdown-text {
  display: none;
  margin-top: 1rem;
  color: var(--secondaryColor);
  font-weight: 500;
}
.dropdown-open .dropdown-text {
  display: block;
}
.pricing-section {
  margin-inline: var(--inlineMargin);
  margin-top: 4rem;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px var(--textColor);
  border-radius: 20px;
  padding-block: 2rem;
  padding-inline: 1rem;
  margin-top: 2rem;
  max-width: 450px;
  margin-inline: auto;
}
.card-title {
  font-size: 1.5rem;
}
.card-price {
  margin-top: 1rem;
  color: var(--primaryColor);
  font-size: 1.2rem;
}
.card-price span {
  color: var(--primaryColor);
  font-size: 1rem;
}
.card-divider {
  margin-top: 0.5rem;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent 20%,
    rgba(194, 182, 241, 0.5) 50%,
    transparent 80%
  );
}
.card-items {
  margin-top: 1rem;
}
.card-item {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}
.card-button {
  display: inline-block;
  margin-top: 2rem;
  color: var(--primaryColor);
  border: solid 3px var(--primaryColor);
  width: 100%;
  padding-block: 0.6rem;
  border-radius: 20px;
  font-size: 1.2rem;
  text-align: center;
}
.card-button-special {
  color: var(--textColor);
  border: none;
  background-color: var(--primaryColor);
}
.text-underline {
  text-decoration: underline;
}
.reviews-section {
  margin-top: 4rem;
  margin-inline: var(--inlineMargin);
}
.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.review-hide {
  display: none;
}
.review-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.review-name {
  margin-top: 0.5rem;
  color: var(--secondaryColor);
  font-weight: 500;
}
.review-text {
  margin-top: 1rem;
  color: var(--textColor);
}
.review-selector {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 10px;
}
.selector-button {
  background-color: var(--secondaryColor);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.selector-button-active {
  background-color: var(--textColor);
}
footer {
  margin-top: 4rem;
  margin-inline: var(--inlineMargin);
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-links a {
  font-weight: 500;
  color: var(--secondaryColor);
}
.footer-socials {
  align-self: center;
  display: flex;
  gap: 2rem;
}
.footer-socials div {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: var(--primaryColor);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
.footer-social-logo {
  width: 25px;
  height: 25px;
}
.copyright-text {
  text-align: center;
  color: var(--secondaryColor);
  margin-top: 1rem;
  font-weight: 500;
}
.copyright-text-hidden-small-screen {
  display: none;
}
