.user-profile-picture {
  width: 40px;
  height: 40px;
  background-color: var(--textColor);
  border-radius: 100%;
}
.user-profile-small-screen-menu {
  width: 75px;
  height: 75px;
}
.sidebar {
  margin-top: 2rem;
  margin-inline: var(--inlineMargin);
}
.sidebar-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 15;
}
.sidebar-filter-hidden {
  display: none;
}
.filter-icon {
  width: 30px;
}
.selected-sport {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.selected-league {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--secondaryColor);
  margin-top: 0.5rem;
}
.sidebar-menu {
  display: none;
  flex-direction: column;
  margin-inline: var(--inlineMargin);
  gap: 2rem;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: -100%;
  overflow: auto;
  transition: all 0.3s ease;
  z-index: 10;
}
.sidebar-menu-active {
  display: flex;
  left: 0;
}
.sport-dropdown:first-of-type {
  margin-top: 6rem;
}
.sport-dropdown-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sport-dropdown-header img {
  rotate: 180deg;
}
.sport-title {
  font-size: 1.2rem;
}
.sport-leagues {
  margin-top: 1rem;
}
.dropdown-open .sport-leagues {
  display: none;
}
.dropdown-open .sport-dropdown-header img {
  rotate: 0deg;
}
li {
  list-style: none;
  color: var(--secondaryColor);
  margin-top: 1rem;
  width: max-content;
  text-transform: capitalize;
}
.selected-item {
  color: var(--textColor);
  background-color: var(--transparentBackgroundColor);
  border-radius: 10px;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
}
@media screen and (min-width: 1024px) {
  .user-profile-hidden-large-screen {
    display: none;
  }
  .user-profile-hidden-small-screen {
    display: block;
  }
  .user-profile-picture {
    width: 50px;
    height: 50px;
  }
}
